.carousel{
    overflow: hidden;
    max-width: 500px;
    position: relative;
}
.carousel .carousel_slide, 
.carousel .carousel_slide_hidden{
    display: none;          
}
.carousel .carousel_slide img{
    width: 100%;
    max-width: 500px;
    height: auto;
}
.carousel .carousel_item_visible{
    display: block;
}
.carousel .carousel_buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
}
.carousel .carousel_buttons button{
    border-radius: 100px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.carousel .carousel_buttons button#carousel_button_prev{
    margin-left: 20px;
}
.carousel .carousel_buttons button#carousel_button_next{
    margin-right: 20px;
}
img{
    width:  500px;
    height: 500px;
    background-size: contain;
}